@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #ffffff;
  color: #0f172a;
}

header {
  z-index: 10001 !important;
}

.btn-primary {
  @apply rounded-full bg-sky-700 px-6 py-3 font-bold text-white transition-all duration-300 hover:-translate-y-1 hover:bg-sky-900;
}
